.content {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    h2 {
        color: #114514;
        margin-bottom: 20px;
    }
    p {
        line-height: 1.6;
        margin-bottom: 20px;
    }
    a {
        color: #000067;
        text-decoration: none;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}
